<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=us-ascii" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="src/modules/module.js"></script>
    <script type="text/javascript" src="src/services/generator.js"></script>
    <script type="text/javascript" src="src/services/player.js"></script>
    <script type="text/javascript" src="src/services/savegame.js"></script>
    <script type="text/javascript" src="src/services/upgrade.js"></script>
    <script type="text/javascript" src="src/services/util.js"></script>
    <script type="text/javascript" src="src/services/spell.js"></script>
    <script type="text/javascript" src="src/services/script.js"></script>
    <script type="text/javascript" src="src/controllers/main.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/base-bootstrap.min.css" id="theme_css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <title>Idle Royale</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-58136427-6', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="ng-scope theme-none" ng-app="incremental" ng-controller="IncCtrl">
    <div class="container">
      <div class="navbar navbar-default ">
        <div class="container">
          <div class="navbar-header">
            <span class="navbar-brand page-title">
            Idle Royale <sub>a competitive idle experiment</sub>
			<small>by angarg12, <a href="https://github.com/angarg12">GitHub</a></small>
            </span> 
            <span class="navbar-brand">
            <span class="text-muted small">v{{version}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="viewwrap">
        <div>
          <div class="ng-scope ng-isolate-scope ">
            <ul class="nav nav-tabs ng-scope" role="tablist">
              <li class=""
                ng-class="{active: current_tab === 'Game'}">
                <a class="ng-binding" ng-click="util.updateCurrent('current_tab','Game')"> Game 
                </a>
              </li>
              <li class=""
                ng-class="{active: current_tab === 'Tutorial'}">
                <a class="ng-binding" ng-click="util.updateCurrent('current_tab','Tutorial')"> Tutorial 
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content ng-scope " id="game">
            <div class="tab-pane row" ng-class="{active: current_tab == 'Game'}">
              <div class="col-lg-6">
			  <textarea rows="10" ng-model="player.data.script"></textarea>
			  <button ng-click="script.clearCache(); script.script = player.data.script;">Load</button>
              </div>
			  <div class="col-lg-6 pull-left">
			  <textarea rows="10" disabled ng-model="script.script"></textarea> 
			  <div class="alert alert-danger" ng-if="error_msg"><strong>Error:</strong> <span ng-bind-html="util.trustHTML(error_msg)"></span></div>
              </div>
			  <div class="col-lg-12">
			  <center><h1>Goal: <span ng-bind-html="util.trustHTML(util.prettifyNumber(goal))"></span></h1></center>
			  <center><h1>Turn: <span ng-bind-html="util.trustHTML(util.prettifyNumber(turn))"></span></h1></center>
			  <center ng-if="status == 'win'" class="text-success"><h1>You win!!</h1></center>
			  <center ng-if="status == 'lose'" class="text-danger"><h1>You lose</h1></center>
			  <center ng-if="status == 'tie'" class="text-warning"><h1>You tied</h1></center>
			  <center><button ng-click="restart()">Restart</button></center>
              </div>
              <div class="col-lg-6">
                <h1>Player</h1>
				<h2>Goal</h2>				
				<div class="progress-striped">
					<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width:{{player.data.power/goal*100}}%">
						{{Math.max(player.data.power/goal*100,0) | number}}%
					</div>
				</div>
                <h2>Power</h2>
                <h2><span ng-bind-html="util.trustHTML(util.prettifyNumber(player.data.power))"></span></h2>
                <h3><span ng-bind-html="util.trustHTML(util.prettifyNumber(totalProduction(player, enemy, generator, upgrade)))" id="production_total"></span>/t</h3>
                <div>
                  <div>
                    <hr>
                    <h4>Generators</h4>
                    <table class="table">
                      <thead>
					    <tr class="active">
						  <th class="col-md-1">
						    Name
						  </th>
						  <th class="col-md-1">
						    Level
						  </th>
						  <th class="col-md-1">
						    Production
						  </th>
						  <th class="col-md-1">
						    Price
						  </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="name in generator.getKeys()">
                          <td class="col-md-1">
                            <span class="pull-left">
                            {{name}}
                            </span>
                          </td>
                          <td class="col-md-1">
                            <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(player.data.generators[name].level))"></div>
                          </td>
                          <td class="col-md-1">
                            <div class="pull-left">
                              <span ng-bind-html="util.trustHTML(util.prettifyNumber(tierProduction(player, enemy, generator, upgrade, name)))"></span> /t
                            </div>
                          </td>
                          <td class="col-md-1">
                            <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(generator.generatorPrice(name)))"></div>
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
				  <div>
                    <hr>
                    <h4>Upgrades</h4>
                    <table class="table">
                      <thead>
					    <tr class="active">
						  <th class="col-md-1">
						    Name
						  </th>
						  <th class="col-md-1">
						    Description
						  </th>
						  <th class="col-md-1">
						    Price
						  </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="up in upgrade.getKeys()" ng-class="{'bg-success': player.data.upgrades[up].bought == true}">
						  <td class="col-md-1">
						    {{up}}
						  </td>
						  <td class="col-md-1">
						    {{upgrade.getUpgrades()[up].description}}
						  </td>
						  <td class="col-md-1">
						    <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(upgrade.getUpgrades()[up].price))"></div>
						  </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
				  <div>
                    <hr>
                    <h4>Spells</h4>
                    <table class="table">
                      <thead>
					    <tr class="active">
						  <th class="col-md-1">
						    Name
						  </th>
						  <th class="col-md-1">
						    Duration
						  </th>
						  <th class="col-md-1">
						    Cooldown
						  </th>
						  <th class="col-md-1">
						    Charges
						  </th>
						  <th class="col-md-1">
						    Price
						  </th>
						  <th class="col-md-1">
						    Description
						  </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="sp in spell.getKeys()" ng-class="[{'success': player.data.spells[sp].active},{'warning': !player.data.spells[sp].active && (player.data.spells[sp].charges == undefined || player.data.spells[sp].charges > 0) && player.data.spells[sp].cooldown > 0},{'danger': !player.data.spells[sp].active && player.data.spells[sp].charges <= 0}]">
						  <td class="col-md-1">
						    {{sp}}
						  </td>
						  <td class="col-md-1" ng-if="!player.data.spells[sp].active">
						    {{spell.getSpells()[sp].duration}}
						  </td>
						  <td class="col-md-1" ng-if="player.data.spells[sp].active">
						    {{player.data.spells[sp].duration}}
						  </td>
						  <td class="col-md-1" ng-if="!player.data.spells[sp].cooldown ||  player.data.spells[sp].cooldown <= 0">
						    {{spell.getSpells()[sp].cooldown}} 
						  </td>
						  <td class="col-md-1" ng-if="player.data.spells[sp].cooldown > 0">
						    {{player.data.spells[sp].cooldown}}
						  </td>
						  <td class="col-md-1" ng-if="player.data.spells[sp].charges === undefined">
						    {{spell.getSpells()[sp].charges}}
						  </td>
						  <td class="col-md-1" ng-if="player.data.spells[sp].charges >= 0">
						    {{player.data.spells[sp].charges}}
						  </td>
						  <td class="col-md-1">
						    <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(spell.getSpells()[sp].price))"></div>
						  </td>
						  <td class="col-md-1">
						    {{spell.getSpells()[sp].description}}
						  </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
			  <div class="col-lg-6 bg-info">
                <h1>Bot</h1>
				<h2>Goal</h2>				
				<div class="progress-striped">
					<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width:{{enemy.data.power/goal*100}}%">
						{{Math.max(enemy.data.power/goal*100,0) | number}}%
					</div>
				</div>
                <h2>Power</h2>
                <h2><span ng-bind-html="util.trustHTML(util.prettifyNumber(enemy.data.power))"></span></h2>
                <h3><span ng-bind-html="util.trustHTML(util.prettifyNumber(totalProduction(enemy, player, generatorEnemy, upgradeEnemy)))" id="production_total"></span>/t</h3>
                <div>
                  <div>
                    <hr>
                    <h4>Generators</h4>
                    <table class="table">
                      <thead>
					    <tr class="active">
						  <th class="col-md-1">
						    Name
						  </th>
						  <th class="col-md-1">
						    Level
						  </th>
						  <th class="col-md-1">
						    Production
						  </th>
						  <th class="col-md-1">
						    Price
						  </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="name in generatorEnemy.getKeys()">
                          <td class="col-md-1">
                            <span class="pull-left">
                            {{name}}
                            </span>
                          </td>
                          <td class="col-md-1">
                            <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(enemy.data.generators[name].level))"></div>
                          </td>
                          <td class="col-md-1">
                            <div class="pull-left">
                              <span ng-bind-html="util.trustHTML(util.prettifyNumber(tierProduction(enemy, player, generatorEnemy, upgradeEnemy, name)))"></span> /t
                            </div>
                          </td>
                          <td class="col-md-1">
                            <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(generatorEnemy.generatorPrice(name)))"></div>
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
				  <div>
                    <hr>
                    <h4>Upgrades</h4>
                    <table class="table">
                      <thead>
					    <tr class="active">
						  <th class="col-md-1">
						    Name
						  </th>
						  <th class="col-md-1">
						    Description
						  </th>
						  <th class="col-md-1">
						    Price
						  </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="up in upgradeEnemy.getKeys()" ng-class="{'bg-success': enemy.data.upgrades[up].bought == true}">
						  <td class="col-md-1">
						    {{up}}
						  </td>
						  <td class="col-md-1">
						    {{upgradeEnemy.getUpgrades()[up].description}}
						  </td>
						  <td class="col-md-1">
						    <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(upgradeEnemy.getUpgrades()[up].price))"></div>
						  </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
				  
				  <div>
                    <hr>
                    <h4>Spells</h4>
                    <table class="table">
                      <thead>
					    <tr class="active">
						  <th class="col-md-1">
						    Name
						  </th>
						  <th class="col-md-1">
						    Duration
						  </th>
						  <th class="col-md-1">
						    Cooldown
						  </th>
						  <th class="col-md-1">
						    Charges
						  </th>
						  <th class="col-md-1">
						    Price
						  </th>
						  <th class="col-md-1">
						    Description
						  </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="sp in spellEnemy.getKeys()" ng-class="[{'success': enemy.data.spells[sp].active},{'warning': !enemy.data.spells[sp].active && (enemy.data.spells[sp].charges == undefined || enemy.data.spells[sp].charges > 0) && enemy.data.spells[sp].cooldown > 0},{'danger': !enemy.data.spells[sp].active && enemy.data.spells[sp].charges <= 0}]">
						  <td class="col-md-1">
						    {{sp}}
						  </td>
						  <td class="col-md-1" ng-if="!enemy.data.spells[sp].active">
						    {{spellEnemy.getSpells()[sp].duration}}
						  </td>
						  <td class="col-md-1" ng-if="enemy.data.spells[sp].active">
						    {{enemy.data.spells[sp].duration}}
						  </td>
						  <td class="col-md-1" ng-if="!enemy.data.spells[sp].cooldown ||  enemy.data.spells[sp].cooldown <= 0">
						    {{spellEnemy.getSpells()[sp].cooldown}} 
						  </td>
						  <td class="col-md-1" ng-if="enemy.data.spells[sp].cooldown > 0">
						    {{enemy.data.spells[sp].cooldown}}
						  </td>
						  <td class="col-md-1" ng-if="enemy.data.spells[sp].charges === undefined">
						    {{spellEnemy.getSpells()[sp].charges}}
						  </td>
						  <td class="col-md-1" ng-if="enemy.data.spells[sp].charges >= 0">
						    {{enemy.data.spells[sp].charges}}
						  </td>
						  <td class="col-md-1">
						    <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(spellEnemy.getSpells()[sp].price))"></div>
						  </td>
						  <td class="col-md-1">
						    {{spellEnemy.getSpells()[sp].description}}
						  </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>			
			</div>
		  </div>
          <div class="tab-content ng-scope" id="tutorial">
            <div class="tab-pane row" ng-class="{active: current_tab == 'Tutorial'}">
              <div class="col-lg-12"> 
                <h1>How to play</h1>
                <p>Write Javascript code in the text box to script your play. Press load and the code will be executed on each turn. If your code produces an error, it will be displayed under the script box.</p>	
                <p>Reach the power goal before your enemy to win a round.</p>	
                <h1>Commands</h1>
                <p>This section shows which commands are available to your script.</p>
                <h2>Global</h2>
				<p><strong>goal</strong>: power goal of the round.</p>
				<p><strong>turn</strong>: current turn.</p>
				<p><strong>production</strong>: your total production per turn.</p>
				<p><strong>cache</strong>: cache where you can store variables between turns.</p>
                <p><strong>actor</strong>: object that contains the player data. It has the following format.</p>
				<pre><code>actor = {
  power: 15e6,
  generators: {
    'Tier 1':{level:0}...
  },
  upgrades: {
    "Tier 1-1": {bought:false}...
  },
  spells: {
    'Surge':{
      active: false
    }...
  }
}
</code></pre>	
                <p><strong>opponent</strong>: object that contains the enemy data. It has the same format as actor.</p>
                <h2>Generator</h2>
				<p>Generators produce power each turn.</p>
				<p><strong>generator.getKeys()</strong>: list of all generator names.</p>	
				<p><strong>generator.getGenerators()</strong>: generator object. It has the following format.</p>
				<pre><code>generators = {
  'Tier 1':{
    price:15,
    power:1,
    upgrades: [
      "Tier 1-1",
      "Tier 1-2"...
    ]
  }...
}
</code></pre>
				<p><strong>generator.buyPrice(name, number)</strong>: price to buy <i>number</i> of generators <i>name</i>.</p>
				<p><strong>generator.maxBuy(name)</strong>: how many generators of <i>name</i> you can buy.</p>
				<p><strong>generator.buyGenerators(name, number)</strong>: buy <i>number</i> of generator <i>name</i>. Return true if it succeeds, false otherwise.</p>
                <h2>Upgrade</h2>
				<p>Upgrades power up generators.</p>
				<p><strong>upgrade.getKeys()</strong>: list of all upgrade names.</p>
				<p><strong>upgrade.getUpgrades()</strong>: upgrade object. It has the following format.</p>
				<pre><code>upgrades = {
    "Tier 1-1": {
      "price" : 100,
      "description" : "Tier 1 production x2",
      "power" : 2
    }...
}
</code></pre>
				<p><strong>upgrade.buyUpgrade(name)</strong>: buy the upgrade <i>name</i>. Return true if it succeeds, false otherwise.</p>
                <h2>Spell</h2>				
				<p>Spell create unique effects. Spells may have: duration, how many turns they are active; cooldown: how many turns you have to wait between casts; chargers: how many times you can cast it per round.</p>
				<p><strong>spell.getKeys()</strong>: list of all spell names.</p>	
				<p><strong>spell.getSpells()</strong>: spell object. It has the following format.</p>
				<pre><code>spells = {	  
  'Surge':{
    description: 'Increase production by 10%',
    price: 1e4,
    duration: 60,
    cooldown: 150
  }...
}
</code></pre>
				<p><strong>spell.activateSpell(name)</strong>: activate the spell <i>name</i>. Return true if it succeeds, false otherwise.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>