.navbar-brand {
  padding-bottom:55px;
}

.navbar-brand small {
  display:block;
  font-size:85%;
}

body{
    padding-bottom:170px;
}

.affix {
	top:0;
	width:20%;
}

.element-table tr:first-child td {
    border: 0px none;
}

.right-box {
	padding-left:0px;
}

.no_bottom {
    margin-bottom: 0px;
}

.table > tbody > tr > td, .table > tbody > tr > td > span {
     vertical-align: middle;
}

.icon {
	font-size:150%;
}

.by-icon {
	line-height:2.14305;
}

.table_tab {
	text-align: center;
}

.title {
	font-size: 30px;
	font-weight: 500;
	line-height: 33px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.vertical {
	border-left: solid #000000;
}

.button-small {
	width:36px;
	height:36px;
}

.progress, .progress-striped{
	overflow:hidden;
	height:20px;
	width:80%;
	text-align:center;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:0px;
	background-color:#f5f5f5;
	border-radius:4px;
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1)
}

.progress-bar, .progress-bar-success, .progress-bar-log, .progress-bar-warning, .progress-bar-danger{
	float:left;
	width:0;
	height:100%;
	font-size:12px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#2980b9;
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	transition:width .6s ease;
	overflow-x: visible;
	white-space: nowrap;
	text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

.progress-striped .progress-bar, .progress-striped .progress-bar-success, .progress-striped .progress-bar-log, .progress-striped .progress-bar-warning, .progress-striped .progress-bar-danger{
	background-image:linear-gradient(45deg,rgba(255,255,255,.15)25%,transparent 25%,transparent 50%,rgba(255,255,255,.15)50%,rgba(255,255,255,.15)75%,transparent 75%,transparent);
	background-size:40px 40px
}

.scriptarea {
    resize: none;
	width:100%;
}

.invisble {
    background: transparent;
    border: none !important;
    font-size:0;
}

.wrapper {
    padding-left: 150px;
}

a.svg {
 position: relative;
 display: inline-block; 
}

a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.sidebar-top {
    background: #34495e;
	color: #c0392b;
	text-align: center;
	font-family: 'Kumar One', cursive;
    padding: 10px;
	font-size: 16px;
}

.sidebar-wrapper {
    position: fixed;
    left: 150px;
    width: 150px;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    background: #000;
	color: #fff;
}

.page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
    margin-right: -150px;
}

.version {
	font-size: 12px;
}

.player-area {
}

.bot-area {
    background: #bdc3c7;
}